version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    restart: always
    ports:
      - '5678:5678'
    environment:
      - N8N_HOST=n8n.devcraft.date
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://n8n.devcraft.date # 고정 도메인으로 변경
    volumes:
      - ./n8n_data:/home/node/.n8n
