@import 'tailwindcss';

@theme {
  --color-primary: 107 142 35;
  --color-primary-hover: 124 165 40;
  --color-primary-active: 85 120 25;

  --color-secondary: 235 225 210;
  --color-secondary-hover: 225 210 190;
  --color-secondary-active: 215 195 170;

  --color-bg: 255 245 235;
  --color-fg: 60 60 60;
}

@theme .dark {
  --color-bg: 10 10 10;
  --color-fg: 237 237 237;
}

/* 여기 추가 */
@layer utilities {
  .bg-primary {
    background-color: rgb(var(--color-primary));
  }
  .hover\:bg-primary-hover:hover {
    background-color: rgb(var(--color-primary-hover));
  }

  .bg-secondary {
    background-color: rgb(var(--color-secondary));
  }
  .hover\:bg-secondary-hover:hover {
    background-color: rgb(var(--color-secondary-hover));
  }

  .bg-bg {
    background-color: rgb(var(--color-bg));
  }
  .text-fg {
    color: rgb(var(--color-fg));
  }
  .border-primary {
    border-color: rgb(var(--color-primary));
  }
}

body {
  @apply bg-bg text-fg font-sans;
}
