@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Paperlogy-7Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
}

@theme {
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-logo: 'Paperlogy', 'Pretendard', sans-serif;

  --color-primary: rgb(8 145 178);
  --color-primary-hover: rgb(6 182 212);
  --color-primary-active: rgb(21 94 117);

  --color-secondary: rgb(139 92 246); /* Violet 500 */
  --color-secondary-hover: rgb(124 58 237); /* Violet 600 */
  --color-secondary-active: rgb(109 40 217); /* Violet 700 */

  --color-bg: rgb(255 245 235);
  --color-fg: rgb(60 60 60);
}

@theme .dark {
  --color-bg: 10 10 10;
  --color-fg: 237 237 237;
}

body {
  @apply bg-bg text-fg font-sans;
}

button {
  @apply cursor-pointer;
}

.container {
  @apply max-w-7xl px-6 py-10;
}
